.banner {
  display: flex;
  background-size: cover;
  background-image: linear-gradient(135deg, rgba(0,0,0,0.8) 0%,
  rgba(0,0,0,0.2) 50%), url('../../images/background.png');
  height: 400px;
  color: white;
  align-items: center;
  padding-left: 24px;
  background-position: center;
}

.banner p {
  margin-bottom: 32px;
}

.banner p, .banner h1 {
  text-shadow: 0 0 16px rgb(0 0 0 / 50%);
}
