.container-footer {
  background-color: #2c2b2b;
  color: white;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.container-footer h2 {
  margin: 0;
}
.list-inline ul {
  list-style: none;
  padding: 0px;
  margin: 0;
  font-size: 48px;
}

.list-inline li {
  display: inline-block;
  margin: 0 10px;
}

.list-inline a {
  color: #6ad58b;
}

.list-inline a:hover {
  transition: .3s;
  color: mediumseagreen;
}
